* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

h2 {
    font-size: 40px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 30px;
}
h6 {
    font-size: 16px;
}

.header {
    background: #000;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
@media all and (max-width: 1200px) {
    .header {
      justify-content: space-around;
    }
}
@media all and (max-width: 600px) {
    .header {
      flex-direction: column;
    }
}
.header__text {
    color: white;
    text-decoration: none;
    position: relative;
    font-size: 24px;
    padding: 50px 10px 3px;
    margin: 0 30px;
}
.header__text:hover {
    text-decoration: none;
    color: #fff;
}
.header__text::after {
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: transform 0.3s ease;
    transform: scaleX(0);
    transform-origin: left center;
}

.header__text:hover::after {
    transform: scaleX(1);
}

nav{
    background: #000;
    width: 100%;
    color: #fff;
    text-align: center;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
nav > ul {
   padding: 0;
}
nav li{
    display: inline-block;
    vertical-align: top;
    padding: 40px 50px 0;
}

.inp-header {
    display: none;
}
nav label {    
    display: none;
    padding: 10px 10%;
}

@media screen and (max-width: 800px) {
    
    nav label{
        display: inline-block;
    }
    nav > ul {
        display: none;
    }
    input[type="checkbox"]:checked ~ label + ul {
        display: block;
    }
    
}


.offer {
    height: 780px;
    position: relative;
    margin: 0 auto;
    background: #000;
    color: #fff;
    
}

.offer__block {
    width: 1200px;
    margin: 0 auto;
}

.offer__block>h1 {
    font-size: 100px;
    padding-top: 50px;
}

.offer__img-books {
    position: absolute;
    left: 50%;
    padding: 100px 0 0 150px;
}

.offer__img-books {

    position: absolute; 
    animation: orbit 5s linear infinite; 
  }
  
  @keyframes orbit {
    from { 
      transform: rotate(0deg) translate(35px) rotate(0deg);
    }
    to { 
      transform: rotate(360deg) translate(35px) rotate(-360deg);
    }
  }
.offer__block>h1>a {
    font-size: 48px;
}


.catalog {
    background: #d9dad9;
    text-align: center;
    color: #000;
    padding: 0 10%;
}

.catalog__blocks {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    flex-flow: row wrap;
}

.catalog__blocks>a {
    text-decoration: none;
    color: #000;
}
.catalog__blocks>a:hover {
    color: #000;
}

@media all and (max-width: 600px) {
    .catalog__blocks {
      flex-direction: column;
    }
}

.catalog__book, .catalog__printer, .catalog__pc {
    padding: 50px 30px;
    margin: auto 20px;
}


.btn1 {
    display: inline-block;
    font-weight: 500;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background: #fff;
    border: 4px solid #ff89e0;
    padding: 20px 80px;
    font-size: 24px;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-size: 30px;
    margin: auto 0;
}

.btn1:hover {
    background: #ff89e0;
    border-color: #fff;
}


.our-history {
    position: relative;
    text-align: center;
    color: #000;
    margin: 0 auto;
    width: 1200px;
}

.our-history>h2 {
    padding: 100px 0 5%;
    font-size: 40px;
}

.our-history__bold {
    font-weight: 700;
}


.publish-print>h2 {
    padding: 100px 0 5%;
    font-size: 40px;
    color: #000;
}

.slide {
    width: 70% !important;
    margin: 0 auto;
}

@media all and (max-width: 900px) {
    .slide {
        width: 90% !important;
    }
}

.carousel-control-prev, .carousel-control-next  {
    color: #000;
}

.carousel-control-prev-icon {
    background-image: url(./images/arl.png) !important;
    width: 4rem!important;
    height: 4rem!important;
}
.carousel-control-next-icon {
    background-image: url(./images/arr.png)!important;
    width: 4rem!important;
    height: 4rem!important;
}

.carousel-control-next {
    right: -70px !important;
}
.carousel-control-prev {
    left: -70px !important;
}

.carousel-control-next, .carousel-control-prev {
    width: 8% !important;
    opacity: 1 !important;
}

/* слайдер1 */
/* .publish-print__slider {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
  
.publish-print__slider>* {
    flex: 1 100%;
}

.sliderimg1 {
    display: none;
    width: 100%;
    height: auto;
}
  
.arr1 {
    position: relative;
    margin: auto 0; 
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-color: rgba(255,255,255,1);
    border: none;
    outline: none;
    transition: background-color 0.5s ease;
}
  
.arr1:hover {
    background-color: rgba(255,255,255,0.7);
}
  
.arr1.prev1 {
    left: 0;
}
  
.arr1.next1 {
    right: 0;
} */

/* @media all and (min-width: 1400px) {
    .sliderimg1  { flex: 3 0px; }    
    .arr1.prev1 { order: 2; } 
    .sliderimg1  { order: 1; }    
    .arr1.next { order: 3; }
} */


.online-edition {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    text-align: center;
    color: #000;
}

.online-edition>h2 {
    padding: 100px 0 5%;
    font-size: 40px;
}

/* слайдер2 */
.online-edition__slider {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
  
.sliderimg2 {
    display: none;
    width: 100%;
    height: auto;
}
  
.arr2 {
    position: relative;
    margin: auto 0; 
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-color: #fff;
    border: none;
    outline: none;
    transition: background-color 0.5s ease;
}
  
.arr2:hover {
    background-color: rgba(255,255,255,0.7);
}
  
.arr2.prev2 {
    left: 0;
}
  
.arr2.next2 {
    right: 0;
}


.for-whom {
    position: relative;
    margin: 0 auto;
    text-align: center;
    color: #000;
}

.for-whom>h2 {
    padding: 100px 0 0;
    font-size: 40px;
}

.for-whom__blocks {
    display: flex;
    justify-content: space-between;
}

.for-whompublishing-house>h5, .for-whomauthor>h5, .for-whominstitution>h5, .for-whomcorporate-clients>h5 {
    padding-top: 15px;
    font-size: 30px; 

}
.for-whom__blocks > .col {
    margin-top: 5%;
}
@media all and (max-width: 500px) {
    .for-whom__1 {
      width: 80px;
    }
}
@media all and (max-width: 500px) {
    .for-whom__blocks {
      flex-direction: column;
    }
}
.colh5>h5 {
    font-size: 30px;
    padding-bottom: 15px;
}


.advantages {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    text-align: center;
    color: #000;
}

.advantages>h2 {
    padding: 80px 0 5%;
    font-size: 40px;
}

.advantages__blocks {
    background: #d9dad9;
    padding: 40px 200px 40px 60px;
}

.advantages__text {
    text-align: left;
    margin-left: 15%;
}

.advantages__medal {
    position: absolute;
    right: 15%;
    margin: 50px -70px 0;
}

@media all and (max-width: 1400px) {
    .advantages__blocks {
        flex-direction: column;
        padding: 40px 60px 40px 60px;
    }
    .advantages__img {
        width: 100%;
        text-align: center;
    }
    .advantages__medal {
        position: absolute;
        left: 0%;
        padding-top: 70px;
    }
    .advantages__text {
        padding-top: 70px;
        margin: 0 auto;
        width: 350px !important;
    }
}
@media all and (max-width: 770px) {
    .advantages__blocks {
        flex-direction: column;
        padding: 40px 60px 40px;
    }
    .advantages__image {
        width: 100%;
        height: auto;
        text-align: center;
    }
    .advantages__medal {
        position: absolute;
        left: 0%;
        padding-top: 10%;
    }
    .advantages__text {
        padding-top: 70px;
        margin: 0 auto;
        width: 350px !important;
    }
    .medal {
        width: 150px;
        height: 150px;   
    }
}
@media all and (max-width: 410px) {
    .advantages__text>h3 {
        font-size: 20px !important;
    }
}

.how-we-work {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    text-align: center;
    color: #000;
}

.how-we-work>h2 {
    padding: 100px 0 5%;
    font-size: 40px;
}

.how-we-work__blocks {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.how-we-work__calculation-cost>h5, .how-we-work__conclusion-agreements>h5, .how-we-work__original-layout>h5, .how-we-work__seal-circulation>h5 {
    padding: 40px 0 20px;
    font-size: 30px;
}


.equipment {
    position: relative;
    margin: 0 auto;
    text-align: center;
    color: #000;
}

.equipment__blocks {
    margin-top: 100px;
    text-align: left;
    
}

.equipment__text>h2 {
    padding: 40px 0 10px;
    font-size: 40px;
}
.equipment__text>h3 {
    margin-top: 40px;
}

.equipment__zag {
    margin-left: 50%;
    font-size: 40px;
}
@media all and (max-width: 1200px) {
    .equipment__blocks {
        flex-flow: column wrap;
    }
    .equipment__img {
        width: 400px;
        margin: 20% auto;
    }

}

@media all and (max-width: 770px) {
    .equipment__img {
        width: 200px;
        margin: 0 auto;
    }
    .equipment__blocks {
        flex-direction: column;
    }
    .equipment__zag {
        margin-left: 0;
        font-size: 30px;
    }
}

.reviews {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    text-align: center;
    color: #000;
}

.reviews>h2 {
    padding: 100px 0 5%;
    font-size: 40px;
}

/* слайдер3 */
.reviews__slider {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
  
.sliderimg3 {
    display: none;
    width: 100%;
    height: auto;
}
  
.arr3 {
    position: relative;
    margin: auto 0; 
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-color: #fff;
    border: none;
    outline: none;
    transition: background-color 0.5s ease;
}
  
.arr3:hover {
    background-color: rgba(255,255,255,0.7);
}
  
.arr3.prev3 {
    left: 0;
}
  
.arr3.next3 {
    right: 0;
}


.order-print-calculation {
    position: relative;
    margin: 0 auto;
    width: 800px;
    text-align: center;
    color: #000;
}

.order-print-calculation__h2 {
    padding: 100px 0 5%;
    font-size: 40px;
}

.order-print-calculation__h6 {
    font-size: 18px;
    text-align: left;
    margin-bottom: 20px;
}

.order-print-calculation__download {
    background: #fb020e;
    color: #fff;
    font-size: 22px;
    padding: 15px 20px;
    text-decoration: none;
}

.order-print-calculation__download:hover {
    background: #c50000;
    text-decoration: none;
    color: #fff;
}


.print-calculator {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    text-align: center;
    color: #000;
}

.print-calculator__h2 {
    padding: 100px 0 0px;
    font-size: 36px;
}

.print-calculator__blocks {
    color: #5a5959;
    display: flex;
    justify-content: space-between;
    text-align: left;
    background: #d9dad9;
    padding: 40px 100px;
    margin-top: 50px;
}

@media all and (max-width: 1200px) {
    .print-calculator__col2-delete {
        display: none;
    }
    .print-calculator__blocks {
        flex-direction: column;
        text-align: center;
        padding: 10px 0;
    }
    .print-calculator__col1, .print-calculator__col2 {
        margin: auto;
        width: auto !important; 
    }
}

.print-calculator__col1>h5, .print-calculator__col2>h5 {
    font-size: 18px;
    text-align: left;
    margin-bottom: 0;
}

.print-calculator__col2>h6 {
    text-align: center;
}

.print-calculator__col1>input, .print-calculator__col1>select, .print-calculator__col2>input {
    width: 260px;
    height: 50px;
    font-size: 24px;
    padding-left: 20px;
    margin: 10px 0 20px;
    color: #5a5959;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.print-calculator__col3>h5 {
    font-size: 36px;
    text-align: center;
}
.print-calculator__col3 {
    text-align: center;
}
.print-calculator__for-indent {
    padding-bottom: 30px;
}

.print-calculator__col3>h3 {
    padding-top: 20px;
}

.btn2 {
    display: inline-block;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: none;
    border-radius: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.print-calculator__order {
    background: #fb020e;
    color: #fff;
    font-size: 22px;
    padding: 10px 70px;
    margin: 30px auto !important;
}

.print-calculator__order:hover {
    background: #c50000;
}

.attach input[type="file"] {
  display: none;
}

.attach label {
  display: inline-block;
  padding: 12px 20px;
  cursor: pointer;
  background-color: #ffffff;
  color: #5a5959;
  border-radius: 4px;
  border: 1px solid #4d4c4c;
}

.attach label:hover {
  background-color: #fa3131;
  color: #fff;
}
#file-name, #file-name1, #file-name2 {
  display: inline-block;
    margin: 12px 10px
}



.make-book {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    text-align: center;
    color: #000;
    padding: 50px 0 20px;
}


.make-book__btn-order {
    background: #fb020e;
    color: #fff;
    font-size: 22px;
    padding: 10px 70px;
    margin: 30px auto;
}

.make-book__btn-order:hover {
    background: #c50000;

}

.make-book>h2>a {
    margin: 10px 5px;
    font-size: 30px;
}

.make-book>h2 {
    font-size: 40px;
}

.make-book__container {
    margin-top: 30px;
}

.make-book__container>.row>.col {
    text-align: center;
}

.make-book__container>.row>.col>h3 {
    font-size: 24px;
}

.make-book__container>.row>.col>h6 {
    font-size: 16px;
}
    


.clients {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    text-align: center;
    color: #000;
}

.clients>h2 {
    padding: 50px 0 30px;
    font-size: 40px;
}

.contacts {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    text-align: center;
    color: #000;
}

.contacts>h2 {
    padding: 50px 0 30px;
    font-size: 40px;
}

.contacts__red-text {
    color: #fb020e;
}

.contacts__h3 {
    font-size: 24px;
    margin-bottom: 0;
}

.contacts__container>.row>.col {
    text-align: left;
}

.contacts__h4 {
    font-size: 36px;
    margin-bottom: 0;
}

.contacts__h5 {
    font-size: 30px;
    padding-bottom: 30px;
}

.col>a {
    font-size: 30px;
    color: #000;
    text-decoration: none;
    text-align: left;
}
.col>a:hover {
    text-decoration: none;
    color: #fb020e;
}

.contacts__information {
    padding-top: 10px;
    margin-top: 15px;
}

.contacts__information>.row>.col {
    text-align: left;
}

.contacts__icon {
    margin: auto
}

.messenger {
    display: flex;
    justify-content: left;
    margin-top: 4%;
    align-items: center;
    flex-direction: row;
}
@media all and (max-width: 800px) {
    .col>a {
        font-size: 17px;
        margin-bottom: 5%;
        justify-content: left;
        text-align: left;
    }
    .nombernone {
        display: none;
    }
    
    .contacts__icon {
        margin-bottom: 7%;
        width: 40px;
        height: 40px;
    }
    .icon-mail {
        margin-bottom: 7%;
        width: 40px;
        height: 30px;
    }
    .map {
        width: 500px;
    }
}


footer {
    background: #000;
    width: 1200px;
    height: 115px;
    margin: 3% auto;
    display: flex;
    justify-content: space-between;
    color: #fff;

}

footer>h6 {
    font-size: 18px;
    margin: auto 50px;
}

footer>a {
    font-size: 30px;
    margin: auto 50px;
    text-decoration: none;
    color: #fff;

}

@media all and (max-width: 770px) {
    .nombernone {
      display: none;
    }
    .textcenter {
    margin: 5% auto;
      align-items: center;
      padding:0px;
    }
    
}

footer>a:hover {
    text-decoration: none;
    color: #fff;
}

.container {
  text-align: center;
}

.how-work {
    text-align: left;
    margin: 0 auto;
}

.how-work>h2 {
    font-size: 40px;
    text-align: center;
    padding: 40px 0;
}


@media all and (max-width: 450px) {
    .how-we-work__blocks {
      flex-direction: column;
    }
}

@media all and (max-width: 1130px) {
    .image-long {
        display: none;

    }
}


.cont-modal {
    background: url(./images/fon2.png);
    width: 750px !important;
    height: 700px;
    text-align: center;
    font-size: 18px;
    padding: 10px 80px;
    color: #4d4c4c;
}

.heading {
    font-size: 36px;
}

.heading2 {
    font-size: 30px;
}


.bold {
    font-weight: 700;
    margin: 0;
}

.bold-right {
    font-weight: 700;
    margin: 0 0 0 20px;
}

.bold-right1 {
    font-weight: 700;
    margin: 0;
}

.personal-data {
    font-size: 16px;
    display: flex;
    padding-top: 10px;
}

.checkbox {
    width: 36px;
    height: 33px;
    margin-right: 15px;
    font-size: 24px;
}

.button {
    font-size: 24px;
}

input {
    padding: 0 15px;
    width: 250px;
    margin-bottom: 10px;
    justify-content: space-between;
    display: flex;
}

.left-side {
    text-align: left;
    padding: 12px 0 5px;
}

.button-download {
    background: #efb858;
    padding: 10px 60px;
}

.file-no {
    width: 50px !important;
    font-size: 16px;
    padding: 0;
}

.message {
    height: 119px;
    width: 250px;
}

.send {
    background: #fa3131;
    width: 360px;
    height: 64px;
    color: #fff;
    font-weight: 500;
    margin: 0 auto !important;
    font-size: 24px;
    padding: 12px 0;
    border: none;
    display: inline-block;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.send:hover {
    background: #7a0006;
    color: #fff;
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 700px !important;
    }
}

.select-file {
    padding: 5px 15px;
    width: 160px;
}

.inp-right {
    float: right;
    padding: 3px 15px;
}
.inp-left {
    padding: 3px 15px;
}
.modal-body {
    padding: 0 1rem !important;
}

.modal {
    display: none; /* Скрываем модальное окно по умолчанию */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Цвет фона с полупрозрачностью */
}
  

.modal-content1 {
    margin: 3% auto;
    width: 750px;
}
.modal-content2 {
    margin: 3% auto;
    width: 800px;
}
  
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
  
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}




.modal2 {
    background: url(images/fon3.png);
    width: 750px !important;
    height: 700px;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    color: #4d4c4c;
    font-weight: 900;
    font-size: 18px;
    padding: 10px 80px;
}


.input1 {
    display: flex;
    justify-content: space-around;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 5%;
}
.hhead {
    margin: 0 auto !important;
    padding-left: 50px;
}
.attach, .approval{
    display: flex;
    margin-top: 2%;
    margin: 4% 0;
}
.approval>p {
    margin-left: 2%;
    margin-top: 5%;
}
.heading1 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    font-size: 20px;
    padding-top: 6%;
    padding-bottom: 4%;
}
.inp {
    font-size: 24px;
    width: 260px;
    height: 50px;
}
.inp1 {
    font-size: 24px;
    margin-bottom: 10%;
    width: 260px;
    height: 155px;
    padding: 0 15px;
    border: 1.5px solid #4d4c4c;
}
.button1 {
    width: 250px;
    height: 52px;
    border: 1px solid #4d4c4c;
    font-size: 18px;
    margin-top: 2%;
}
.file {
    background-color: white;
}
.button2 {
    font-size: 24px;
    width: 360px;
    height: 72px;
    color: white;
    border: 1px solid #4d4c4c;
    background-color: #fa3131;
}
.button2:hover {
    text-decoration: none;
    background-color: #7a0006;
}
.personal-data__a {
    align-self: center;

}
.modal-footer {
    padding-bottom: 40px !important;
}



.btn-up {
    position: fixed;
    background-color: #fa3131;
    right: 20px;
    bottom: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 50px;
}

.btn-up::before {
    content: "";
    width: 40px;
    height: 40px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}
@media all and (max-width: 1200px) {
    .btn-up::before {
        width: 30px;
        height: 30px;
    }
    .btn-up {
        width: 40px;
        height: 33px;
    }
}
@media all and (max-width: 700px) {
    .btn-up::before {
        width: 20px;
        height: 20px;
    }
    .btn-up {
        width: 30px;
        height: 25px;
    }
}


.btn-up_hide {
    display: none;
}

@media (hover: hover) and (pointer: fine) {
    .btn-up:hover {
      background-color: #7a0006;
    }
}